{% extends "game/base.html" %}{% block content %}
<div class="card shadow-sm"><div class="card-body">
  <h1 class="h5 mb-2">Lobby — Code : <span class="badge text-bg-success">{{ team.code }}</span></h1>
  <ul class="list-group mb-3">
    {% for p in team.players.all %}
      <li class="list-group-item">{{ p.name }} ({{ p.get_role_display }}){% if p.is_host %} — host{% endif %}</li>
    {% endfor %}
    <a class="btn btn-outline-success mt-2" href="{% url 'museum_puzzle' team.uuid %}">
        ➡️ Lancer l’épreuve du Musée
    </a>
    <a class="btn btn-outline-primary mt-2" href="{% url 'office_game' team.uuid %}">
        🚨 Lancer “L’Arnaque du Siècle” (Office de Tourisme)
    </a>
  </ul>
  <hr>
  {% include "comms/_chat.html" with TEAM=team.uuid %}
</div></div>
{% endblock %}
