{% extends "game/base.html" %}{% block content %}
<div class="row g-3">
  <div class="col-md-6"><div class="card shadow-sm"><div class="card-body">
    <h2 class="h5">Créer une partie</h2>
    <form method="post" action="{% url 'create_team' %}" class="row g-2">{% csrf_token %}
      <div class="col-8"><input name="player_name" class="form-control" placeholder="Ton prénom (Alex)" required></div>
      <div class="col-4 d-grid"><button class="btn btn-success">Créer</button></div>
    </form>
  </div></div></div>
  <div class="col-md-6"><div class="card shadow-sm"><div class="card-body">
    <h2 class="h5">Rejoindre</h2>
    <form method="post" action="{% url 'join_team' %}" class="row g-2">{% csrf_token %}
      <div class="col-4"><input name="code" class="form-control" placeholder="Code équipe" required></div>
      <div class="col-5"><input name="player_name" class="form-control" placeholder="Ton prénom (Noa)" required></div>
      <div class="col-3 d-grid"><button class="btn btn-primary">Rejoindre</button></div>
    </form>
  </div></div></div>
</div>
{% endblock %}
